<div ng-app="localjam" class="jumbotron">
<div class="container-fluid"  ng-controller="mainCtrl">
  <div class="row">
    <div class="col-md-12">
      <h1 class="lead">Localjam</h1>
      <nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="" ng-click="showLessons()">Lessons</a></li>
          <li class="active"><a href="" ng-click="showAbout()">About</a></li>
          <li class="active"><a href="" ng-click="showContact()">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div>
        <div class="lessons" ng-show="isShowLessons">
        	<h2 class="lead">Lessons</h2>
          <div ng-repeat="lesson in lessons" class="lesson-item">
            <a href="" ng-click="showLesson(lesson);" class="btn btn-default">{{lesson.title}}</a>
          </div>
        </div>
        <div class="lesson" ng-show="isShowLesson">
        	<h2 class="lead">{{activeLesson.title}}</h2>
        	<video src="{{activeLesson.video}}"></video>
        	<p>{{activeLesson.notes}}</p>
        	<a href="" ng-click="showLessons()">Back to Lessons</a>
        </div>
        <div class="about" ng-show="isShowAbout">
          <h2>about</h2>
        </div>
        <div class="contact" ng-show="isShowContact">
          <h2>contact</h2>
        </div>
      </div>
    </div>
  </div>
</div>